body {
    font-family: var(--main-font);
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4 {
    color: var(--header-color);
}

p {
    color: var(--text-color);
}

main {
    min-height: calc(100vh - var(--footer-height));
    max-width: 67rem;
    padding: 8rem 0;
}

.main-grid {
    width: 100%;
    margin: 0 auto;
    max-width: 640px;
    padding: 0 0.8rem;
}