footer {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 0.8rem;

    height: var(--footer-height);

    font-size: 0.80rem;
    font-family: var(--main-font);
    line-height: 1;
    letter-spacing: 0.08em;

    color: var(--text-color);
    opacity: 0.6;

}