footer {
    max-width: 640px;
    margin: 0 auto;
    padding: 0.5rem 0.8rem;
    text-align: center;

    height: var(--footer-height);

    font-size: 0.80rem;
    font-family: var(--main-font);
    color: var(--text-color);
    opacity: 0.6;
    border-top: 1px solid var(--accent-color);

}