.info-card {
    display: flex;
    gap: 0.9rem;
}

.profile-info h2,
.profile-info p {
    font-size: var(--web-font-size);
}

.profile-info h2 {
    font-weight: 400;
}

.profile-picture {
    width: 75px;
    border-radius: 50%;
}

.location-info {
    padding-top: 0.3rem;
    display: flex;
    gap: 0.3rem;
}

.location-info svg {
    color: var(--accent-color);
}

.location-info span {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--accent-color);
}