.section-title {
    font-family: var(--main-font);
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 0.9rem;
}

.project-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}