.section-title {
    font-family: var(--main-font);
    font-size: var(--header-font-size);
    font-weight: 600;
    padding-bottom: 0.9rem;
}

.project-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}