.column {
    width: 250px;
}

.section-title {
    font-family: "NewsReader", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 0.9rem;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}